table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  .bg-yellow {
    background-color: #ffffcc;
  }
  .bg-blue {
    background-color: #ccccff;
  }
  .bg-green {
    background-color: #ccffcc;
  }